body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #117A65;
}

article.mcs {
    width: 100%;
    height: 15vw;
    overflow: hidden;
}

.blogname{

  color : #ffffff;
}

h6-footer{

  color: #16A085;
}

.link-color{

  color:#00796B;
}

.h5-footer{
  color: #ffffff;
  background-color:#1B2631;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #117865;
  overflow: auto;
}

.site-header .navbar-nav .nav-link {
  padding: 12px;
  color: #ffffff;
  font-size: 20px;
  font-family: Serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  /*background-color: #0B5345  ;*/
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 1500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #117A65;
}

.article-title:hover {
  color: #0B5345;
  text-decoration: none;
}

hr.new4 {
  border: 1px solid red;
  width: 2000px;
}

hr.new3 {
  border: 1px solid red;
  width: 60px;
}


.article-content {
  white-space: pre-line;
  text-align: justify;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

