{% extends "blog/base.html" %}
{% block content %}


	<div class="col-md-12">
      <div class="content-section">
        
         <h3 class="text-uppercase font-weight-bold">Send us your query</h3>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 300px;">
        <p>
          <i class="fa fa-address-card mr-3"></i> Hapur, Uttar Pradesh, Republic Of India</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> insidestory@example.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +91-9457426111</p>
        <p>
          <i class="fa fa-phone mr-3"></i> +91-8077818378</p>

        

      </div>
    </div>

     
		

{% endblock content %}